In [1]:
import tweepy

In [2]:
# Create variable
file_name = 'keys.py'

In [3]:
%%writefile {file_name}

consumer_key="I"
consumer_secret="15typj3Kw4UTR6Tee"
access_token="MrP"
access_token_secret="qVpVDM"
bearer_token="e"

Writing keys.py

In [4]:
from keys import *

In [5]:
import requests

client = tweepy.Client( bearer_token=bearer_token, 
                        consumer_key=consumer_key, 
                        consumer_secret=consumer_secret, 
                        access_token=access_token, 
                        access_token_secret=access_token_secret, 
                        return_type = requests.Response,
                        wait_on_rate_limit=True)

In [6]:
# Define query
#query = 'from:BarackObama -is:retweet'
query = 'covid'
# get max. 100 tweets
tweets = client.search_recent_tweets(query=query, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=10)

In [7]:
import pandas as pd

# Save data as dictionary
tweets_dict = tweets.json() 

# Extract "data" value from dictionary
tweets_data = tweets_dict['data'] 

# Transform to pandas Dataframe
df = pd.json_normalize(tweets_data)

In [8]:
df

,author_id,text,edit_history_tweet_ids,created_at,id
0,1160250267910066176,RT @se____lene: This might be the best sejeong...,[1621885893190754306],2023-02-04T14:58:24.000Z,1621885893190754306
1,56353724,RT @zotam2: Parece que voc√™s esqueceram que na...,[1621885892448198659],2023-02-04T14:58:24.000Z,1621885892448198659
2,3546374433,RT @StellaEscoTV: Dr. Robert Malone addresses ...,[1621885891684728833],2023-02-04T14:58:24.000Z,1621885891684728833
3,271183451,RT @manuelrico: Hoy hace 1.053 d√≠as que el Gob...,[1621885889583382531],2023-02-04T14:58:23.000Z,1621885889583382531
4,1599839534069518342,@WHCOS Could it be from the 1 million deaths f...,[1621885889545650177],2023-02-04T14:58:23.000Z,1621885889545650177
5,1448824286853042177,@EWoodhouse7 @81Hawks If you came into the hos...,[1621885887037726720],2023-02-04T14:58:23.000Z,1621885887037726720
6,1168610862690721792,RT @l_krishnan: Next up: Malaysia. Part of the...,[1621885885925965826],2023-02-04T14:58:23.000Z,1621885885925965826
7,43265919,"RT @P_McCulloughMD: Unfortunately, in Californ...",[1621885885229973504],2023-02-04T14:58:22.000Z,1621885885229973504
8,1265634868094009347,@Genflag @BallouxFrancois It seems you have yo...,[1621885882310467585],2023-02-04T14:58:22.000Z,1621885882310467585
9,1342600383122841600,"RT @Un_EtreHumain: üó£Ô∏è""Il y a eu h√©catombe null...",[1621885882180538368],2023-02-04T14:58:22.000Z,1621885882180538368

In [9]:
# save df
df.to_csv("tweets-obama.csv")